* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin: 100px 20px 20px 20px;
}

body {
    font-family: "Arial", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-33 {
    width: calc(100% / 3);
}

.content {
    margin: 30px 10px 10px 0;
}

.content img {
    width: 100%;
}

#logo {
    height: 40px;
}

#main-list ul {
    list-style-type: none;
}

#main-list ul li {
    display: inline-block;
}

#main-list ul li a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
    font-weight: bold;
}

.bg-orange {
    background-color: #FF6900;
}

.fixed {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}

.ta-center {
    text-align: center;
}

.ta-left {
    text-align: left;
}

.ta-right {
    text-align: right;
}

.mt-10 {
    margin-top: 10px;
}

.mr-5 {
    margin-right: 5px;
}

.p-20 {
    padding: 20px;
}


div .nav-icons i {
    margin-left: 10px;
    color: white;
}

.bg-red {
    background-color: rgb(167, 0, 0);
}

.bg-green {
    background-color: green;
}

.labels {
    position: absolute;
    display: flex;
    bottom: 50px;
    left: 0px;
}

.label {
    color: white;
    padding: 5px 10px;
}

.relative {
    position: relative;
}

.visible-image {
    display: block;
}

.hidden-image {
    display: none;
}

.content:hover .visible-image {
    display: none;
}

.content:hover .hidden-image {
    display: block;
}

.content i {
    position: absolute;
    top: 25px;
    right: 0;
    padding: 10px;
    background-color: white;
}

.content i:hover {
    color: red;
}

.spec-list {
    list-style-type: none;
}

#price-sale {
    color: red;
    font-weight: 800;
    font-size: 13px;
}

#price-full {
    font-size: 13px;
}

.description {
    font-weight: bold;
}

.brand {
    font-size: 13px;
}